<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>User type</th>
      <th>Contact no</th>
      <th>Group</th>
      <th>Login username</th>
      <th>Login password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name.capitalize %></td>
        <td><%= UserType.find(user.user_type_id).type_name %></td>
        <td><%= user.contact_no %></td>
        <td><%= user.group.capitalize %></td>
        <td><%= user.login_username %></td>
        <td><%= user.login_password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Home', root_path %>