

  <div class="field">
    <%= f.label :level %><br>
    <%= f.select :level, [['Personal','personal'],['Hostel','hostel'],['Institute','institute']] %>
  </div>
  <div class="field">
    <%= f.label :type_name %><br>
    <%= f.text_field :type_name %>
  </div>
  <div class="field">
    <%= f.label :action_user_types %><br>
    <%= f.collection_check_boxes(:action_user_types, UserType.all, :id, :type_name ) %>
  </div>
  <div class="field">
    <%= f.label :resolving_user_types %><br>
    <%= f.collection_check_boxes(:resolving_user_types, UserType.all, :id, :type_name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
