<%= form_for(@complaint_type) do |f| %>
  <% if @complaint_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint_type.errors.count, "error") %> prohibited this complaint_type from being saved:</h2>

      <ul>
      <% @complaint_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br>
    <%= f.select :level, [['Personal','personal'],['Hostel','hostel'],['Institute','institute']] %>
  </div>
  <div class="field">
    <%= f.label :type_name %><br>
    <%= f.text_field :type_name %>
  </div>
  <div class="field">
    <%= f.label :action_user_types %><br>
    <%= f.collection_check_boxes(:action_user_types, UserType.all, :id, :type_name ) %>
  </div>
  <div class="field">
    <%= f.label :resolving_user_types %><br>
    <%= f.collection_check_boxes(:resolving_user_types, UserType.all, :id, :type_name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
