<p id="notice"><%= notice %></p>

<p>
  <strong>Complaint type:</strong>
  <%= @complaint.complaint_type_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @complaint.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @complaint.details %>
</p>

<p>
  <strong>Is resolved:</strong>
  <%= @complaint.is_resolved %>
</p>

<p>
  <strong>Group:</strong>
  <%= @complaint.group %>
</p>

<p>
  <strong>Admin users:</strong>
  <%= @complaint.admin_users %>
</p>

<p>
  <strong>Action users:</strong>
  <%= @complaint.action_users %>
</p>

<p>
  <strong>Resolving users:</strong>
  <%= @complaint.resolving_users %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= Vote.where(complaint_id: @complaint.id, vote_type: 1).length %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= Vote.where(complaint_id: @complaint.id, vote_type: -1).length %>
</p>

<table border="1">
  <thead>
    <tr>
      <th>User </th>
      <th>Posted</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= User.find(comment.user_id).name %></td>
        <td><%= comment.updated_at %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Vote', votes_path(@complaint) %> |
<%= link_to 'Comment', comments_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
